.booking-box {
  border: 1px solid black;
  margin: 50px;
  margin-left: 200px;
  margin-right: 35px;
}

.booking-box-items {
  border: 1px solid black;
  display: flex;
  margin: 10px;
}

.booking-user-spec {
  border: 1px solid black;
  margin: 10px;
}

.booking-avatar {
  border: 1px solid black;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  position: relative;
  margin: 10px;
}

.bookings-reviews {
  border: 1px solid black;
  position: relative;
  margin: 10px;
}

.booking-form {
  border: 1px solid black;
  position: relative;
  margin: 10px;
}

.booking-img {
  border: 1px solid black;
  position: relative;
  margin: 10px;
  height: 400px;
  width: 300px;
}

.booking-info {
  border: 1px solid black;
  position: relative;
  margin: 10px;
}

.booking-inputs {
  margin: 15px;
}

.google-map {
  border: 1px solid black;
  margin: 10px;
}

.form-for-booking {
  position: relative;
  width: 50%;
}

.booking-basket {
  position: relative;
  width: 200px;
  height: 300px;
  border: 1px solid black;
  margin: 50px;
  margin-right: 100px;
  margin-left: 0px;
}

.big-box {
  display:flex;
}