.booking-box {
  margin: 50px auto;
  box-shadow: 2px 2px 8px grey;
}

.booking-box-items {
  display: flex;
  margin: 10px;
}

.booking-form {
  position: relative;
  margin: 10px;
}

.booking-img {
  position: relative;
  margin: 10px;
  height: 250px;
  width: 250px;
}

.booking-info {
  border: 1px solid black;
  position: relative;
  margin: 10px;
}

.booking-infos {
  position: relative;
  margin: 10px;
  padding-left: 10px;
}

.booking-inputs {
  margin: 15px;
}

.google-map {
  margin: 10px;
}

.form-for-booking {
  position: relative;
  width: 50%;
}


.big-box {
  display:flex;
  margin: 0 100px;
}

.booking-picture {
  border: 1px solid black;
  margin: 10px;
}

.footer-card p {
  text-align: right;
  padding: 5px 10px;

}
.modif-form {
  padding-top: 20px;
  padding-bottom: 0px;
}
