.card {
  border: 1px solid black;
  margin: 5px 100px;
}

.card-content {
  border: 1px solid black;
  margin: 10px 10px;
  display: flex;
}

.card-header {
  border: 1px solid black;
  margin-top: 10px;
  margin: 10px;
}

.card-header h3 {
  margin: 5px;
}

.card-spec {
  border: 1px solid black;
  margin: 5px 5px;
  position: relative;
  width: 90%;
}

.card-img {
  width: 150px;
  border: 1px solid black;
  margin: 5px 5px;
  position: relative;
}

.card-button {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  margin: 5px 5px;
  position: relative;
  text-align:center;
}

.btn-center {
  position: relative;
  margin: 0 auto;
  top: 40%;
}

.card-price {
  margin: 5px 10px;
}

.card-price p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.button-see-details p {
  margin: 5px 5px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}