/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner {
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1{
  color: white;
}

.banner h2 {
  color: #e2e273;
}

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
}

h1{
  color: #f4693f;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
}

.container {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto
}

.padded {
  padding: 100px 0;
}

.footer {
  background: #fff;
  display: flex;
  padding: 30px 20px;
  color: black;
  align-items: center;
  justify-content: center;
}

.footer img {
  width: 90px;
}

.fa {
  font-size: 30px;
  padding: 0 10;
  margin-left: -5px;
  list-style: none
}

.search-input-container .dls-search-input {
  background-color:transparent;
  font-size:18px;
  font-weight:300;
  height:71px;
  padding:23px 0
}
