.footer-card {
  position: absolute;
  text-align: center;
  bottom: 1px;
  display: flex;
}

.footer-card a {
  padding: 0 8px;
  margin-right: 4px;
  margin-left: 5px;
}

.card-basket {
  position: relative;
  margin-right: 100px;
  width: 200px;
}

.container-my-booking {
  display: flex;
}

.card-booking {
  margin-left: 100px;
  border-bottom: 2px solid grey;
}

.card-quantity {
  position: relative;
  margin: 0 0;

}

.card-price {
  justify-content: center;
}

.card-price p {
  padding: 0px 0px;
  margin: 0 0;
}

.card-basket-info {
  margin-top: 70px;
}




