
.block{ background: #fff;
  display: flex;
  padding: 30px 20px;
  color: black;
  align-items: center;
  justify-content: center;
}

h1{ display: flex;
  padding: 30px 20px;
  color: black;
  align-items: center;
  justify-content: center;
}

.form-inputs{ background: #fff;
  display: flex;
  padding: 30px 20px;
  color: black;
  align-items: center;
  justify-content: center;
}
