
.block{ background: #fff;
  display: flex;
  padding: 30px 20px;
  color: black;
  align-items: center;
  justify-content: center;
}

h1{ display: flex;
  padding: 30px 20px;
  color: black;
  align-items: center;
  justify-content: center;
}

.shared_log{ background: #fff;
  display: flex;
  padding: 30px 20px;
  color: black;
  align-items: center;
  justify-content: center;
}

.facebook_log{ background: #fff;
  display: flex;
  padding: 30px 20px;
  color: black;
  align-items: center;
  justify-content: center;
}
