<div class="header-page">
   <h1>Book for <%= @event.name %> <%= @event.category %> </h1>
</div>

  <div class= "booking-box">
    <div class="booking-box-items">
      <div class="booking-user-spec">
        <div class="booking-avatar">
          <p>Image user</p>
        </div>
        <div class="bookings-reviews">
          <p>Reviews</p>
        </div>
      </div>
      <div class="booking-form">
      </div>
      <div class="booking-img">
      </div>
    </div>
    <div class="booking-info">
    <p>More information about the event</p>
    </div>
  </div>