<h1 style="padding-bottom: 0">Forgot your password?</h1>

<div class="block" style="padding-top: 0; padding-bottom: 0">
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>


    <div class="form-inputs" style="width: 300px;">
      <%= f.input :email, required: true, autofocus: true %>
    </div>

    <div class="form-actions" style="width: 300px;">
      <%= f.button :submit, "Send me reset password instructions", style: 'width:100%'%>
    </div>
  </div>
<% end %>


