<div class="footer">
  <div class="row" style="width:100%">
    <div  style="float:left;" _class="col-xs-6 col-md-4 text-center">
      <%= image_tag "logo.jpg" %>
    </div>

    <div id="reseaux" style='margin-top: -15px;margin-left: 10px;float:right;' _class="col-xs-6 col-md-4 text-center">
      <div class="r-sociaux">
        <a class="sharing-link fa fa-facebook" href="https://www.facebook.com" title="Facebook" target="_blank" data-tracking="social Facebook"></a>
        <a class="sharing-link fa fa-twitter" href="https://twitter.com" title="Twitter" target="_blank" data-tracking="social Twitter"></a>
        <a class="sharing-link fa fa-youtube" href="https://www.youtube.com" title="Youtube" target="_blank" data-tracking="social Youtube"></a>
        <a class="sharing-link fa fa-instagram" href="https://instagram.com/airevent.lewagon/" title="Instagram" target="_blank" data-tracking="social Instagram"></a>
      </div>
    </div>
    <div _class="col-xs-6 col-md-4 text-center" style="float:right">
       <p>Invite Your Friends Along For The Ride</p>
    </div>

  </div>
</div>
