
<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= asset_path 'front.jpeg' %>');">
      <div class="banner-content">
        <h1>Welcome to Air Event</h1>
        <p> Book events to live unique experiences all around the word</p>
      </div>
    </div>

   <div class="text-center padded" id="newsletter">
      <h2>Air Event Newsletter</h2>
      <p>Join The Club</p>
      <form class="form-inline">
        <input type="email" placeholder="partyallthetime@airevent.com" class="form-control">
        <input type="submit" value="Subscribe" class="btn btn-primary btn-bordered btn-bordered-primary">
      </form>
    </div>

    <div class="footer">
      <ul class="list-inline">
        <li><%= image_tag "logo.jpg" %></li>
        <li>Invite Your Friends Along For The Ride</li>
        <li class="custom-sharing-button facebook">
        <a class="sharing-link fa fa-facebook" href="https://www.facebook.com" title="Facebook" target="_blank" data-tracking="social Facebook"></a>
        </li>
        <li class="custom-sharing-button twitter">
        <a class="sharing-link fa fa-twitter" href="https://twitter.com" title="Twitter" target="_blank" data-tracking="social Twitter"></a>
        </li>
        <li class="custom-sharing-button google">
        <a class="sharing-link fa fa-google" href="https://plus.google.com" title="Google+" target="_blank" data-tracking="social Google+"></a>
        </li>
        <li class="custom-sharing-button youtube">
        <a class="sharing-link fa fa-youtube" href="https://www.youtube.com" title="Youtube" target="_blank" data-tracking="social Youtube"></a>
        </li>
        <li class="custom-sharing-button instagram">
        <a class="sharing-link fa fa-instagram" href="https://instagram.com/airevent.lewagon/" title="Instagram" target="_blank" data-tracking="social Instagram"></a>
        </li>
        <li class="custom-sharing-button last pinterest">
        <a class="sharing-link fa fa-pinterest" href="https://www.pinterest.com" title="Pinterest" target="_blank" data-tracking="social Pinterest"></a>
        </li>
      </ul>
    </div>
